<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:url"           content="https://groupproj2.herokuapp.com/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Game Matcher" />
  <meta property="og:description"   content="Game recommendations between users!" />
  <meta property="og:image"         content="https://i.imgur.com/s39qSUQ.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
