<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <title>Home Page</title>
</head>
<!-- navbar -->
  {{!-- <nav class="navbar navbar-inverse navbar-dark bg-dark mb-1">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand">Game Matcher</a>
    </div>

    <div style="display: inline-block;">
      <ul class="nav navbar-nav">
        <li><a href="#">Login / Sign up</a>
        </li>
        <li><a href="#">Recommendations</a>
        </li>
        <li><a href="#">Account</a>
        </li>
      </ul>
    </div>

  </div>
</nav> --}}
<!-- end of navbar -->

<body>
  {{{body}}}
</body>

<!-- footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center center">
      <small>Copyright &copy; 2019</small>
    </div>
  </footer>
  <!-- end of footer -->

</html>
