 <body>
    <div class="wrapper">
        <h1 class="titleTag">Welcome Gamer</h1>
        <h4 class="tagLine">Kindly log in to access the site</h4>

        <form class="formBlock" id="signin" name="signin" method="post" action="signin">
            <input class="inputField text" type="text" name="username" placeholder="user name"><br>
            <input class="inputField" type="password" name="password" placeholder="password"><br><br>
            <input class="subBtn btn" type="submit" value="Sign In">
        </form>
        <div class="strike">
            <span>or</span>
        </div>
        <a href="/signup">
        <input class="suBtn" id="signUpBtn" type="submit" value="Sign Up"></a>
        <h5>You can sign up quite easily to become a member</h5>

    </div>
</body>