<body>

    <nav class="navbar">

        <div class="navbar-header">
            <a href="/signin" class="navbar-brand">Game Matcher</a>
        </div>

        <div style="display: inline-block;">
            {{!-- <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a>
                </li>
                <li><a href="/api/videogames">API Lists</a>
                </li>
                <li><a href="/logout">Logout</a>
                </li>
            </ul> --}}
        </div>
    </nav>
    
    <div class="wrapper">
        <p>Would you kindly create an account to access the site</p>

    <form id="signup" class="formBlock" name="signup" method="post" action="/signup">
        <input class="inputField" name="username" type="name" placeholder="Create a username"/>
        <input class="inputField" name="password" type="password" placeholder="Create a password" />
        <input class="inputBtn" type="submit" value="Sign Up">
    </form>
    <p id="registerText">Already have an account?</p>
        <a href="/signin">
        <input class="inputBtn" type="submit" value="Sign In"></a>
    </div>
</body>
 