<body>
    <div class="wrapper">
    <form id="signup" class="formBlock" name="signup" method="post" action="/signup">
        {{!-- <label for="username">Username</label> --}}
        <input class="text inputField" name="username" type="text" placeholder="User Name"/>
        {{!-- <label for="password">Password</label> --}}
        <input class="inputField" name="password" type="password" placeholder="password" />
        <input class="subBtn btn" type="submit" value="Sign Up" />
    </form>
    </div>
</body>
 