<body>

<div class="navdiv">
        <nav class="navbar navbar-inverse navbar-dark bg-dark mb-1">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand">Game Matcher</a>
                </div>

                <div style="display: inline-block;">
                    {{!-- <ul class="nav navbar-nav">
                        <li><a href="#">Login / Sign up</a>
                        </li>
                        <li><a href="#">Recommendations</a>
                        </li>
                        <li><a href="#">Account</a>
                        </li>
                    </ul> --}}
                </div>

            </div>
        </nav>
    </div>

    <div class="wrapper">
        <p>Would you kindly create an account to access the site</p>

    <form id="signup" class="formBlock" name="signup" method="post" action="/signup">
        <input class="inputField" name="username" type="name" placeholder="Create a username"/>
        <input class="inputField" name="password" type="password" placeholder="Create a password" />
        <input class="inputBtn" type="submit" value="Sign Up">
    </form>
    <p id="registerText">Already have an account?</p>
        <a href="/signin">
        <input class="inputBtn" type="submit" value="Sign In"></a>
    </div>
</body>
 