 <body>
     <div class="navdiv">
        <nav class="navbar navbar-inverse navbar-dark bg-dark mb-1">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand">Game Matcher</a>
                </div>

            </div>
        </nav>
    </div>
    <div class="wrapper">
        <h1>Game Matcher</h1>
        <p>Would you kindly log in to access the site</p>

        <form class="formBlock" id="signin" name="signin" method="post" action="signin">
            <input class="inputField" type="name" name="username" placeholder="Enter your username">
            <input class="inputField" type="password" name="password" placeholder="Enter your password">
            <input class="inputBtn" type="submit" value="Sign In">
        </form>
            <p id="registerText">Don't have an account?</p>
        <a href="/signup">
        <input class="inputBtn" type="submit" value="Sign Up"></a>
    </div>
</body>