 <body>
    <nav class="navbar">

        <div class="navbar-header">
            <a href="/signin" class="navbar-brand">Game Matcher</a>
        </div>

        <div style="display: inline-block;">
            {{!-- <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a>
                </li>
                <li><a href="/api/videogames">API Lists</a>
                </li>
                <li><a href="/logout">Logout</a>
                </li>
            </ul> --}}
        </div>
    </nav>
    <div class="wrapper">
        <h1>Game Matcher</h1>
        <p>Would you kindly log in to access the site</p>

        <form class="formBlock" id="signin" name="signin" method="post" action="signin">
            <input class="inputField" type="name" name="username" placeholder="Enter your username">
            <input class="inputField" type="password" name="password" placeholder="Enter your password">
            <input class="inputBtn" type="submit" value="Sign In">
        </form>
            <p id="registerText">Don't have an account?</p>
        <a href="/signup">
        <input class="inputBtn" type="submit" value="Sign Up"></a>
    </div>
</body>